
.home{
    max-width: 2000px;
    
    
}
.home__image{
    display:flex;
    flex-direction: column;
    width:100%;
    mask-image: linear-gradient( to bottom,rgba(0,0,0,1),rgba(0,0,0,0));
    z-index: -1;
    margin-bottom: -155px;
}

.home__row{
   width:100%;
    display:flex;
    flex-direction: row;
  
   flex:1 1 400px;
    Z-index:1;
   
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: gray;
    border-radius: 5px;
    box-shadow: inset;
}
@media (max-width: 400px) {
    .home{
      max-width: fit-content;  

    }
    .home__image{
        
        margin-bottom: -60px;
    }
    
   
    .home__row{

       
        display:flex;;
        flex-direction: column;
     grid-column: auto;
        margin-top :5px;
        margin-bottom: 5px;
        flex: 1 1 400px;
        font-size:16px;
    }
}